<a href="https://colab.research.google.com/github/seok-jin/kaggle_study/blob/main/Santander_product_recomendation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1.탐색적 데이터 분석

In [ ]:
import os
import pandas as pd
import numpy as np
os.chdir('/content/drive/MyDrive/Colab Notebooks')
trn  = pd.read_csv('train_ver2.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (5,8,11,15) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

## 1.1기초 통계로 데이터 살펴보기
- .shape 함수를 사용하여 데이터의 크기를 확인

In [ ]:
trn.shape

(13647309, 48)

- .head 함수를 통해 데이터의 첫 5줄을 확인

In [ ]:
trn.head()

   fecha_dato  ncodpers  ... ind_nom_pens_ult1 ind_recibo_ult1
0  2015-01-28   1375586  ...               0.0               0
1  2015-01-28   1050611  ...               0.0               0
2  2015-01-28   1050612  ...               0.0               0
3  2015-01-28   1050613  ...               0.0               0
4  2015-01-28   1050614  ...               0.0               0

[5 rows x 48 columns]